UID=1000
GID=1000

# --------------------------------------------------
# RabbitMQ
# --------------------------------------------------
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=demo
RABBITMQ_PASSWORD=demo
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=weather.events
RABBITMQ_ROUTING_KEY=weather.snapshot.fetched

# --------------------------------------------------
# ingestion-weatherapi database
# --------------------------------------------------
INGESTION_WEATHERAPI_DB_HOST=ingestion-weatherapi-db
INGESTION_WEATHERAPI_DB_PORT=5432
INGESTION_WEATHERAPI_DB_NAME=ingestion_weatherapi_db
INGESTION_WEATHERAPI_DB_USER=demo
INGESTION_WEATHERAPI_DB_PASSWORD=demo

# --------------------------------------------------
# WeatherAPI provider
# --------------------------------------------------
WEATHERAPI_BASE_URL=https://api.weatherapi.com/v1
WEATHERAPI_KEY=

# --------------------------------------------------
# Service metadata
# --------------------------------------------------
INGESTION_WEATHERAPI_SERVICE_NAME=ingestion-weatherapi
INGESTION_WEATHERAPI_SOURCE_NAME=weatherapi

# --------------------------------------------------
# weather-comparison database
# --------------------------------------------------
WEATHER_COMPARISON_DB_HOST=weather-comparison-db
WEATHER_COMPARISON_DB_PORT=5432
WEATHER_COMPARISON_DB_NAME=weather_comparison_db
WEATHER_COMPARISON_DB_USER=demo
WEATHER_COMPARISON_DB_PASSWORD=demo

# --------------------------------------------------
# weather-comparison service
# --------------------------------------------------
WEATHER_COMPARISON_SERVICE_NAME=weather-comparison
WEATHER_COMPARISON_PORT=3000
WEATHER_COMPARISON_RABBITMQ_CONSUME_ROUTING_KEY=weather.snapshot.updated
