NODE_ENV=development
APP_ENV=local
PORT=3000
SERVICE_NAME=weather-comparison

DB_HOST=weather-comparison-db
DB_PORT=5432
DB_NAME=weather_comparison_db
DB_USER=demo
DB_PASSWORD=demo

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=demo
RABBITMQ_PASSWORD=demo
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=weather.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_CONSUME_ROUTING_KEY=weather.snapshot.updated
